@import "tailwindcss";

:root {
  --color-primary: #0055b8;   /* Blue */
  --color-secondary: #ffc107; /* Yellow */
  --color-accent: #dc3545;    /* Red */
}

body {
  @apply font-sans bg-gray-50;
}

.bg-primary {
  background-color: var(--color-primary);
}

.bg-secondary {
  background-color: var(--color-secondary);
}

.bg-accent {
  background-color: var(--color-accent);
}

.text-primary {
  color: var(--color-primary);
}

.text-secondary {
  color: var(--color-secondary);
}

.text-accent {
  color: var(--color-accent);
}

.border-primary {
  border-color: var(--color-primary);
}

.border-secondary {
  border-color: var(--color-secondary);
}

.border-accent {
  border-color: var(--color-accent);
}
